main > .container {
  padding: 60px 15px 0;
  width: 4000px;
}

code {
  font-size: 80%;
}

nav {
	height: 100px;
	background: #DCDCDC;
}

#avatar_image {
	max-width: 120px;
	max-height: 90px;
	margin: 5px;
	border: 1px solid grey;
	margin-right: 25px;
}

.number {
	width: 40px;
	margin-top: 25px;
	text-align: center;
	border: 1px solid grey;
	padding-top: 2px;
	background-color: white;
}

.like_dis{
	border: 1px solid grey;
	margin-top: 25px;
	margin-left: 3px;
	margin-right: 3px;
}

.row_like {
	margin-left: 5px;
}

.footer {
	background: #DCDCDC;
	margin-top: 30px;
}

.profile_info {
	display: flex;
	flex-direction: column;
}

#name {
	font-size: 25px;
}

.a_prof {
	margin-left: 25px;
}

.navbar-brand {
	font-size: 50px;
}

.search {
	margin-left: 250px;
}

#new {
	font-size: 40px;
	margin-top: 80px;
}

#hot {
	font-size: 25px;
	margin-left: 60px;
	margin-top: 95px;
}

.question-img {
	max-width: 120px;
	max-height: 120px;
	border: 1px solid grey;
}

.question-box {
	margin-top: 30px;
	border: 1px solid grey;
	border-radius: 3px;
	padding: 20px;
	background-color:  #f5f5f5;
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
    transition: all .5s;
}

.question-title {
	font-size: 30px;
	font-weight: bold;
}

.question-text {
	margin-bottom: 40px;
}

.question-text {
	word-wrap: break-word;
}

.but {
	margin-top: 30px;
	background-color:  #f5f5f5;
	box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

.popular_best {
	font-size: 40px;
}

.right {
	margin-left: 50px;
}

.a_r_t {
	color: red;
}

.in_register {
	font-size: 30px;
	margin-right: 50px;
}

.nq {
	margin-bottom: 30px;
}

.ans_head {
	margin-bottom: 160px;
	margin-top: 160px;
}

.im_main {
	max-width: 160px;
	max-height: 160px;
}

.box_main {
	background-color: #c2c2c2;
	border-radius: 10px;
}

.def_av {
	max-width: 160px;
	max-height: 160px;
	margin-left: 60px;
}

.prof_head {
		margin-bottom: 30px;
}

.file_ad {
	margin-left: 160px;
	margin-top: 30px;
}

.but_save {
	margin-bottom: 30px;
}

.page-link {
	background: #f5f5f5;
	border: 1px solid grey;
}
