{% extends 'inc/base.html' %}
{% load static %}
{% block heading %}
  <div class="row row_quest">
    <span id="new" class="nq">New Question</span>
  </div>
{% endblock heading %}
{% block content %}
  <form method="post" class="needs-validation" novalidate>
     {% csrf_token %}
    <div class="form-group">
      <label>Title</label>
      {{ form.title }}
       {% for error in form.title.errors %}
    <p class="text-danger">{{ error }}</p>
{% endfor %}
    </div>
    <div class="form-group">
      <label>Text</label>
      {{ form.text }}
       {% for error in form.text.errors %}
    <p class="text-danger">{{ error }}</p>
{% endfor %}
    </div>
    <div class="form-group">
      <label>Tags</label>
      {{ form.tags }}

    </div>


    <button type="submit" class="but btn btn-outline-secondary">ASK!</button>
  </form>
{% endblock content %}
{% block button %}
{% endblock button %}