{% extends 'inc/base.html' %}
{% block heading %}
  <div class="row row_quest">
    <span id="new"></span>
  </div>
{% endblock heading %}
{% block content %}
  <div class="row question-box box_main">
    <div class="col-3">
      <img src="../../{{ question.author_img }}" class="question-img im_main" alt="avatar">
      <div class="row row_like">
        <div><button class="like_dis btn btn-primary btn-sm btn-light">&uarr;</button></div>
        <span class="number m">{{ question.number_of_likes }}</span>
        <div><button class="like_dis btn btn-primary btn-sm btn-light">&darr;</button></div>
      </div>
    </div>
    <div class="col-9">
      <div class="question-title"><a class="text-dark" href="{% url 'question' question.id %}">{{ question.title }}</a></div>
      <div class="question-text">{{ question.text }}</div>
      <div class="row">
        <div class="col-5">
          <a class="ans_tag" href="{% url 'question' question.id %}">answer (<span>{{question.count_answers}}</span>)</a>
        </div>
        <div class="col-7">
          <span class="ans_tag">Tags:</span>
          {% for tag in question.tags.all_tags %}
            <a class="a_r_t" href="{% url 'tag' tag  %}">{{ tag }}</a>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <hr/>
  {% for question in questions.object_list %}
    {% include 'inc/one_answer.html' %}
  {% endfor %}
  <br/>
  {% include 'inc/paginator.html' %}
  <hr/>
  <div class="form-group">
     {% if user.is_authenticated %}
    <form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    {{ form.text }}
       {% for error in form.text.errors %}
    <p class="text-danger">{{ error }}</p>
{% endfor %}
    <button type="submit" class="but btn but_save btn-outline-secondary">Answer</button>
    </form>
    {% else %}
    <span><h2 style="margin-left: 100px">Do you want to answer?? LOG IN!</h2></span>
    {% endif %}
  </div>
{% endblock content %}
{% block button %}
{% endblock button %}