{% extends 'inc/base.html' %}
{% load static %}
{% block heading %}
  <div class="row row_quest">
    <span id="new" class="nq">Log In</span>
  </div>
{% endblock heading %}
{% block content %}
  <form method="post" action="{% url 'login' %}" novalidate>
    {% csrf_token %}
    <div class="form-group">
      <label >Login</label>
      {{ form.username }}
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label >Password</label>
      {{ form.password }}
    </div>
    <input type="hidden" name="path" value="">
    <a href="{% url 'signup' %}">create new account</a>
      <br/>
  <!--   <input type="hidden" name="path" value="{{ path }}">           -->
     <button type="submit" class="but btn btn-outline-secondary">Log in!</button>
  </form>
{% endblock content %}
{% block button %}
{% endblock button %}