
{%load static%}
<div class="row question-box">
        <div class="col-3">
          <img src="{% static "img/123.jpg" %}" class="question-img" alt="avatar">
          <div class="row">
            <input type="number" name="number" class="number" placeholder="1">
          </div>
        </div>
         <div class="col-9">
           <div class="question-text">Guys, i have trouble with a moon park. Can't find the black-jack...</div>
            <div class="row">
        <div class="form-check">
  <input class="form-check-input" type="checkbox" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Correct!
  </label>
</div>
         </div>
         </div>
      </div>
