{% load static %}
<div class="row question-box">
  <div class="col-3">
    <img src="{% static "img/123.jpg" %}" class="question-img" alt="avatar">
    <div class="row row_like">
      <div><button class="like_dis btn btn-primary btn-sm btn-light"><img src="{% static "img/like.jpg" %}" height="5" ></button></div>
      <span class="number m">1</span>
     <div><button class="like_dis btn btn-primary btn-sm btn-light"><img src="{% static "img/dis.jpg" %}" height="5" ></button></div>
    </div>
  </div>
  <div class="col-9">
    {% block question %}
      <div class="question-title"><a class="text-dark" href="{% url 'question' question.id %}">{{ question.title }}</a></div>
      <div class="question-text">{{ question.text }}</div>
      <div class="row">
        <div class="col-5">
          <a class="ans_tag" href="{% url 'question' question.id %}">answer (<span>3</span>)</a>
        </div>
        <div class="col-7">
          <span class="ans_tag">Tags:</span>
          <a class="ans_tag" href="{% url 'tag' tags.tag_1  %}">{{ tags.tag_1 }}</a>
          <a class="ans_tag" href="{% url 'tag' tags.tag_2  %}">{{ tags.tag_2 }}</a>
        </div>
      </div>
    {% endblock question %}
  </div>
</div>